frontend/i18n/translations.ts

backend/.env
backend/api/.env
backend/sqlite.db
backend/api/sqlite.db

.env

backend/api/temp/*
backend/temp/*
# backend/media service/*


Design/*
backend/api/src/controllers/trackTagController.ts


backend/recommendation service/models/*
backend/recommendation service/.env
__pycache__/
*.pyc


