@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */



.modern-scrollbar-minimal::-webkit-scrollbar {
  width: 6px;
}
.modern-scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent;
}
.modern-scrollbar-minimal::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 3px;
}
.modern-scrollbar-minimal::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.4);
}
.dark .modern-scrollbar-minimal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.dark .modern-scrollbar-minimal::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}



/* App logo spin from old code */
@keyframes slow-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slow-spin {
  animation: slow-spin 20s linear infinite; /* Adjust duration as needed */
}

.paused {
  animation-play-state: paused;
}


